@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


#btn-send:hover{
    background: #23A8F2;
    color: white;
    border-radius: 35px 35px;
    transition: .40s;
}

#btn-send{
    transition: .40s;
    border-radius: 35px 35px;
    border: 2px solid #23A8F2;
    color: #23A8F2;
    font-weight: bold;
}

.form-control{
    border-radius: 25px 25px;
}


#label{
  text-align: left !important;
  color: #23A8F2;
  font-weight: bold;
}


.form{
  background: black;
}




.schedule{
    background: #23A8F2;
    /* color: white; */
    color: #23A8F2;
    background: white;
}



.sub-title{
    margin-top: 40px;
    /* color: #23A8F2; */
    color: white;
}


.text{
    /* color: #23A8F2; */
  color: white;
}

.date-container{
  background: #23A8F2;
}


#cards-container{
  margin-top: 10px !important;
}

.section-title{
  font-family: Lobster;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 290%;
}



.second-card{
  border-left: solid 2px white;
  border-right: solid 2px white;
}









